<div>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>

  <h2>title</h2>
  <p>description</p>
  <%=link_to 'the problem about money', money_problem_feedbacks_path%><br/>
  <%=link_to 'the problem about game', game_problem_feedbacks_path%><br/>
  <%=link_to 'the suggestion about game', game_suggestion_feedbacks_path%><br/>
</div>
